<div class="page-header">
  <h1>Dashboard</h1>
  <span class=''><a href="#">News List</a></span> |
  <span class=''><a href="#">Post News</a></span>
</div>

<div class="row">
  <div class="col-sm-9 col-md-10 col-md-offset-1 main">
    <div class="row placeholders">
      <div class="col-lg-6">
        <span class="text-muted">12</span>
        <h4>Unread News</h4>
      </div>
      <div class="col-lg-6">
        <span class="text-muted">12</span>
        <h4>Read News</h4>
      </div>
    </div>
  </div>
</div>
